<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table{
        width: 500px;
        height:400px;
        }           
        #table{overflow:scroll;}          
    </style>
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body style="margin:2.5% 20%">
    <script type="text/javascript" src="/index.js"></script>
    {{!-- <a href="http://localhost:4000/">Formulario</a>
    <a>---</a>
    <a href="http://localhost:4000/productos">Productos</a> --}}
    {{{body}}}
</body>
</html>